@inject Dolphin_Book.Service.Services.Interfaces.IOrderService orderService;
@section link {
    <link rel="stylesheet" href="~/assets/css/orderhistory.css">
}

@section script {

    <script src="~/assets/js/bookDetails.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->

    <script src="~/assets/js/Layout.js"></script>
}
@{
    List<Dolphin_Book.Core.ViewModels.OrderListItemVM> vm = await orderService.GetOrders();
}


<section class="order-details-wrapper">
    <div class="order-details-container">
        <div class="order-details-nav">
            <div class="OD-client-info">
                <span>CC</span>
                <div class="client-name">
                    <p>Ceyhun Celilov</p>
                    <a href="">

                        <h6>Çıxış</h6>
                    </a>
                </div>
            </div>
            <div class="nav">
                <div class="nav-element">
                    <p>Sifarişlərim</p>
                    <i class="bi-chevron-right"></i>
                </div>
                <div class="nav-element">
                    <p>Bildirimlər</p>
                    <i class="bi-chevron-right"></i>
                </div>
                <div class="nav-element">
                    <p>Listlərim</p>
                    <i class="bi-chevron-right"></i>
                </div>
                <div class="nav-element">
                    <p>Qiymətləndirmələr</p>
                    <i class="bi-chevron-right"></i>
                </div>
                <div class="nav-element">
                    <p>Suallarım</p>
                    <i class="bi-chevron-right"></i>
                </div>
                <div class="nav-element">
                    <p>İzlədiyim Satıcılar</p>
                    <i class="bi-chevron-right"></i>
                </div>
                <div class="nav-element">
                    <p>Adreslərim</p>
                    <i class="bi-chevron-right"></i>
                </div>
                <div class="nav-element">
                    <p>Bilgilərim</p>
                    <i class="bi-chevron-right"></i>
                </div>
                <div class="nav-element">
                    <p>Şifrə Dəyişdirmək</p>
                    <i class="bi-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="order_detailss">
            <form class="search-order">
                <input type="text" placeholder="Sifarişlərimdə Axtar">
                <i class="bi bi-search search-order-logo"></i>
            </form>
            <div class="detail_types">
                <span>Bütün Sifarişlər</span>
                <span>Ləğv Olunanlar</span>
                <span>Davam Edənlər</span>
            </div>
            <div class="orders_fix">
                @foreach(var order in vm)
                {
                    <div>
                        <p>Sifariş tarixi: <span>@order.CreatedAt.ToString("MM/dd/yyyy")</span></p>
                        <p>Sifariş Kodu:<span> @order.Id</span></p>
                        <p> Toplam Məbləğ:<span> @order.TotalPrice.ToString("0.##") ₼</span></p>
                        <p>Sifariş Statusu:<span> @order.Status</span></p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>