@model Setting

<div class="container" style="margin: 16px;">
	<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
	<form method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label asp-for="Area1">Unvan-1:</label>
			<input class="form-control" asp-for="Area1" />
			<span asp-validation-for="Area1" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Area2">Unvan-2:</label>
			<input class="form-control" asp-for="Area2" />
			<span asp-validation-for="Area2" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Area3">Unvan-3:</label>
			<input class="form-control" asp-for="Area3" />
			<span asp-validation-for="Area3" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Area4">Unvan-4:</label>
			<input class="form-control" asp-for="Area4" />
			<span asp-validation-for="Area4" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Area5">Unvan-5:</label>
			<input class="form-control" asp-for="Area5" />
			<span asp-validation-for="Area5" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Area6">Unvan-6:</label>
			<input class="form-control" asp-for="Area6" />
			<span asp-validation-for="Area6" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="@Model.FormFile">Photo:</label>
			<input class="form-control" type="file" asp-for="@Model.FormFile" />
			<span asp-validation-for="@Model.FormFile" class="text text-danger"></span>
		</div>

		@Html.AntiForgeryToken()
		<button type="submit" style="width: 180px; margin-top: 16px;" class="btn btn-success btn-rounded">Create</button>
	</form>
</div>
